<div class="mainPage" [ngStyle]="{'margin-bottom': (restaurants.length != 0) ? '80px' : '0px'}">
  <img src='/assets/justeatlogo.png' class="companyLogo" alt="">
  <form action="" class="">
    <input type="text" id="zipcode" #uInput (keyup)="getValue($event.target.value)" placeholder="Insert your postcode to search for restaurants" maxlength="8">
    <button type="submit" class="submitButton"  (click)="onGetUsers()">Search</button>
    <h4>Or</h4>
<button (click)="getPostal()" class="getLocationBtn">Get Nearby Restaurants</button>
  </form>
</div>

<div class="restWrapper">
  <p *ngIf="restaurants.length != 0" class="cityDets">Currently, {{restaurants.length}} restaurants are open in {{restaurants[0].Address.City}}.</p>
  <p *ngIf="restaurants.length == [] && loadRestFlag == true" class="cityDets">There are no currently restaurants open. Please try a different adress.</p>
    <div *ngFor="let restaurant of restaurants | slice:0:count*20" class="restaurant">
      <div class="restInfo">
        <h2>{{ restaurant.Name }}</h2>
        <div >
          <img class="restImg" [src]="restaurant.LogoUrl" [alt]="restaurant.Name">
        </div>
        <div class="rating">
          <p [innerHtml]="htmlToAdd">{{ addStars(restaurant.RatingStars) }}</p>
          <p class="starRating">({{ restaurant.RatingStars }})</p>
        </div>
        <div class="cuisineType">
          <div *ngFor="let cuisineType of restaurant.CuisineTypes">
            <p class="cuisineTypeEl">{{ cuisineType.Name }}</p>
          </div>
        </div>
        <a [href]="restaurant.Url + '/menu'" class="" target="_blank"><button class="menuBtn">Check Menu</button></a>
      </div>
    </div>
</div>
<button class="seeMoreBtn" *ngIf="count*8<restaurants.length" (click)="count=count+1">See More...</button>
<div *ngIf="restaurants.length != 0" class="scrollToTop" (click)="scrollToTop()"> <div class="scrollSpan">></div> Scroll To Top</div>
